.place__row {
    display: flex;
    margin-bottom: 48px;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .place__row {
        flex-direction: column;
        margin-bottom: 32px;
    }
}