.place {
    margin: 0;
    margin-top: 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        margin-top: 73px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-top: 50px;
    }
}