.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-end;
}

@media screen and (max-width: 767px) {
    .place__website {
        align-self: flex-start;
        margin-left: 16px;
        margin-top: 32px;
    }
}